{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<div class="card">
    <div class="card-body">
        <h4>Novo Colaborador: </h4>
        <form action="/admin/colaboradores/novo" method="POST">
            <label for="name" class="mt-2">Nome:</label>
            <input type="text" name="name" class="form-control" required>
            <label for="slug" class="mt-2">Slug:</label>
            <input type="text" name="slug" class="form-control" required>
            <label for="cargo" class="mt-2">Cargo:</label>
            <input type="text" name="cargo" class="form-control" required>
            <label for="departamento" class="mt-2">Departamento:</label>
            <select name="departamento" class="form-select">
                {{#each departamentos}}
                    <option value="{{_id}}">{{nome}}</option>
                {{else}}
                    <option value="0">Nenhum departamento registrado</option>
                {{/each}}
            </select>
            <button type="submit" class="btn btn-primary mt-3">Adicionar colaborador</button>
        </form>
    </div>
</div>